spring:
  application:
    name: task-manager-api
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: create
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:taskdb